/* ids */
#ndic_ActionCanvas {
}

#ndic_Message {
   height: 2em;
}

/* application styles */
.ndic_app_title {
   font-weight: bold;
   font-size: 2em;
   margin-top: 0.5em;
   margin-bottom: 1em;
}

.ndic_page_title {
   font-size: 1.4em;
   margin-top: 0.25em;
   margin-bottom: 0.25em;
}

.ndic_align_right {
   display: inline-block;
   text-align: right;
}

/* menu styles */
.ndic_menu {
   border: 1px solid black;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

.ndic_menu_item {
   padding-left: 1em;
   padding-right: 1em;
}

/* table styles */
/* from: https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
*/
.ndic_table {
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 0.9em;
   font-family: sans-serif;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ndic_table thead tr {
   /* background-color: #009879; */
   background-color: rgb( 60, 67, 74);
   color: #ffffff;
   text-align: left;
}

.ndic_table th,
.ndic_table td {
    padding: 10px 5px;
}


.ndic_table tbody tr:nth-of-type(even) {
   background: #e3e3e3;
}

.ndic_table tbody tr {
   border-bottom: thin solid #009879;
}

.ndic_table tbody td {
   border-right: thin solid #009879;
}

/* .ndic_table tbody tr:last-of-type {
   border-bottom: thin solid #009879;
}
*/

.ndic_table tbody tr.active-row {
   font-weight: bold;
   color: #009879;
}

/* form styles */
.ndic_form_row {
   margin-bottom: 2px;
}

.ndic_form_label {
   display: inline-block;
   width: 100px;
}

.ndic_form_entry_big {
   width: 400px;
}

.ndic_form_entry_medium {
   width: 200px;
}

.ndic_form_entry_small {
   width: 95px;
}

/* filter styles */
.ndic_filter {
   display: inline-block;
}