.ndic_app_title {
   font-weight: bold;
   font-size: 2em;
   margin-top: 0.5em;
   margin-bottom: 1em;
}

.ndic_menu {
   border: 1px solid black;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
}

.ndic_menu_item {
   padding-left: 1em;
   padding-right: 1em;
}

#ndic_ActionCanvas {
   border: 1px dashed black;
}

#ndic_Message {
   border: 1px dashed blue;
   height: 2em;
}
